*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(./Media/Images/Bac-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 80px auto;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0,0, 0.2);
    margin-top: 30px;
    
}

#main-title {
    margin-top: 20px;
    font-size: 72px; /* Reduced size */
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    letter-spacing: 20px;
    word-spacing: 5px;
    text-indent: 20px;
    margin: 20px;
    color: yellow;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 0px;
}

.title1{
    letter-spacing: 4px;
    word-spacing: 5px;
    text-indent: 20px;
    margin: 20px;
    color: whitesmoke;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 40;
    font-style: normal;
    text-align: center;
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(17, 107,143);
}
button:hover{
    background: rgba(17,107, 143, 0.877);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgba(17, 107, 143,);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636563; 
}
.member a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: black;
}
